{% extends 'base.html' %}
{% load static %}


<html lang="en">
<head>
    {% block title %}About Us{% endblock %}
</head>
{% block body %}
    <section class="team1 cid-sd2u7n50Ga" id="team1-s">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                        <strong>About Mighty Sharks FC</strong></h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <p class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                        <p>Content will be updated soon ...</p>
                    </p>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

</html>