{% extends 'accounts/base_accounts.html' %}

{% block title %}Change password{% endblock %}

{% block pageheader %}Change password{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-lg-12 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <center><button type="submit" class="btn btn-success">Change password</button></center>
      </form>
    </div>
  </div>
{% endblock %}