{% extends 'accounts/base_accounts.html' %}

{% block title %}Change password successful{% endblock %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
         <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Your password has been changed!
          </div>
          <center><a href="{% url 'forum_home' %}" class="btn btn-secondary">Return to home page</a></center>
        </div>
      </div>
    </div>
  </div>
{% endblock %}