{% extends 'accounts/base_accounts.html' %}

{% block title %}Password changed!{% endblock %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3><strong class="card-title">Password changed!</strong></h3>
          <div class="alert alert-success" role="alert">
            You have successfully changed your password! You may now proceed to log in.
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}