{% extends 'base.html' %}
{% load static %}

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'assets/images/img-20200726-wa0000-121x143.jpg' %}" type="image/x-icon">
  <meta name="description" content="Our mighty legends">


  {% block title %}Forum{% endblock %}
  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="preload" as="style" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">


</head>

{% block body %}

    <section class="team1 cid-sd2u7n50Ga" id="team1-s">

        <div class="col-12">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                <strong>Our Forum</strong></h3>

        </div>

        <div class="container">
            {% block breadcrumb %}
              <li class="breadcrumb-item active">Topics</li>
            {% endblock %}
            <br>
            <div class="row justify-content-center">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Topic</th>
                      <th scope="col">Starter</th>
                      <th scope="col">Replies</th>
                      <th scope="col">Views</th>
                      <th scope="col">Last Update</th>
                    </tr>
                  </thead>

                  <tbody>
                  {% for topic in topics.all %}
                    <tr>
                      <td><a href="{% url 'forum_topic_posts' topic.pk %}">{{ topic.subject }}</a></td>
                      <td>{{ topic.starter.username }}</td>
                      <td>0</td>
                      <td>0</td>
                      <td>{{ topic.last_updated }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

            </div>
        </div>
    </section>
{% endblock %}


  <section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="https://mightysharksfc.com/" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Develop your own site with <a href="https://mightysharksfc.com/" style="color:#aaa;">Mighty Sharks FC</a></p></section>
  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/nav-dropdown.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
  <script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>