{% extends 'base.html' %}


<html lang="en">
<head>
    {% block title %}Start a New Topic{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

{% block body %}
    <section class="team1 cid-sd2u7n50Ga" id="team1-s">
        <div class="container">

        </div>

        <div class="container">
            {% block breadcrumb %}
              <li class="breadcrumb-item"><a href="{% url 'forum_home' %}">Topics</a></li>
              <li class="breadcrumb-item active">New topic</li>
            {% endblock %}

            <div class="row justify-content-center">
                <div class="col-12">
                  <form method="post" novalidate>
                      {% csrf_token %}

                      {% include 'includes/form.html' %}

                      <button type="submit" class="btn btn-success">Post</button>
                  </form>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>