{% extends 'base.html' %}
{% load static %}


<html lang="en">
<head>
    {% block title %}{{ topics.subject }}{% endblock %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
{% block body %}
    <section class="team1 cid-sd2u7n50Ga" id="team1-s">

        <div class="container">
            {% block breadcrumb %}
              <li class="breadcrumb-item"><a href="{% url 'forum_home' %}">Topics</a></li>
              <li class="breadcrumb-item active">{{ topics.subject }}</li>
            {% endblock %}
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-4">
                        <a href="#" class="btn btn-primary" role="button">Reply</a>
                    </div>



                     {% for post in topics.posts.all %}
                        <div class="card mb-2 {% if forloop.first %}border-dark{% endif %}">
                            {% if forloop.first %}
                              <div class="card-header text-white bg-dark py-2 px-3">{{ topic.subject }}</div>
                            {% endif %}
                          <div class="card-body p-3">
                            <div class="row">
                              <div class="col-2">
                                <img src="{% static 'img/user.svg' %}" alt="{{ post.created_by.username }}" class="w-100">
                                <small>Posts: {{ post.created_by.posts.count }}</small>
                              </div>
                              <div class="col-10">
                                <div class="row mb-3">
                                  <div class="col-6">
                                    <strong class="text-muted">{{ post.created_by.username }}</strong>
                                  </div>
                                  <div class="col-6 text-right">
                                    <small class="text-muted">{{ post.created_at }}</small>
                                  </div>
                                </div>
                                {{ post.message }}
                                {% if post.created_by == user %}
                                  <div class="mt-3">
                                    <a href="#" class="btn btn-primary btn-sm" role="button">Edit</a>
                                  </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}



                </div>
            </div>
        </div>

    </section>
{% endblock %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>