{% load static %}

<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'assets/images/img-20200726-wa0000-121x143.jpg' %}" type="image/x-icon">
  <meta name="description" content="">


  <title>{% block title %}Mighty Sharks FC{% endblock %} - Mighty Sharks FC</title>
  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/formstyler/jquery.formstyler.css' %}">
  <link rel="stylesheet" href="{% static 'assets/formstyler/jquery.formstyler.theme.css' %}">
  <link rel="stylesheet" href="{% static 'assets/datepicker/jquery.datetimepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="preload" as="style" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  {% block stylesheet %}{% endblock %}


</head>
<body>

  <section class="menu cid-s48OLK6784" once="menu" id="menu1-k">

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mightysharksfc.com">
                        <img src="{% static 'assets/images/img-20200726-wa0000-121x143.jpg' %}" alt="Mighty Sharks FC" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="{% url 'home' %}">Mighty Sharks FC</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="{% url 'home' %}">Home<br></a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="{% url 'legends' %}">Legends<br></a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="{% url 'about_us' %}">About us<br></a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="{% url 'forum_home' %}">Our Forum<br></a></li>
                    <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu">Relevant sites</a>
                        <div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="https://www.fifa.com/" target="_blank">FIFA<br></a></div>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu">{{ user.username }}</a>
                            <div class="dropdown-menu">
                                <a class="text-black dropdown-item display-4" href="#">My Account<br></a>
                                <a class="text-black dropdown-item display-4" href="#">Change Password<br></a>
                                <a class="text-black dropdown-item display-4" href="{% url 'forum_logout' %}">Logout<br></a>
                            </div>
                        </li>
                    {% else %}
                        <form class="form-inline ml-auto">
                          <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                          <a href="{% url 'forum_signup' %}" class="btn btn-primary ml-2">Sign up</a>
                        </form>
                    {% endif %}
                </ul>


            </div>
        </div>
    </nav>

</section>



{% block body %}
  <div class="container">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol>
  </div>

 {% endblock %}



{% include 'footer.html' %}

   <section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: center;">
            <a style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a>
            <center><h6><a style="color:#0000ff;">©Mighty Sharks FC 2020. All rights reserved.</a></h6></center>
   </section>

  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/nav-dropdown.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
  <script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/formstyler/jquery.formstyler.js' %}"></script>
  <script src="{% static 'assets/formstyler/jquery.formstyler.min.js' %}"></script>
  <script src="{% static 'assets/datepicker/jquery.datetimepicker.full.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  <script src="{% static 'assets/formoid/formoid.min.js' %}"></script>


</body>
</html>